* {
    box-sizing: border-box;
    --bg-white: rgba( 255, 255, 255, 0.12 );
    --bg-black: rgba( 0, 0, 0, 0.8 );
    --bg-gray: rgba( 26, 26, 26, 0.8 );

    --color-c320: azure;
    --color-c300: orange;
    --color-c200: forestgreen;
    --color-c100: dodgerblue;
    --color-c50 : hotpink;
    --color-miss: crimson;
}
body {
    margin: 0;
}
.card {
    padding: 15px 30px;
    background-color: var(--background, var(--bg-white));
    border-radius: 30px;
}
.separator {
    background-color: #898989;
    width: 100%;
    height: 3px;
}