name: Build all overlays
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Installing Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "pnpm"
      - name: Installing pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Installing dependencies
        run: pnpm install
      - uses: nrwl/nx-set-shas@v3
      - name: Building all overlays
        run: pnpm exec nx affected -t build --parallel=3
