name: Build all overlays
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Installing pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Installing Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "pnpm"
      - name: Installing dependencies
        run: pnpm install
      - name: Restoring build cache
        uses: actions/cache/restore@v3
        with:
          path: node_modules/.cache/nx
          key: nx-build-cache-${{ github.sha }}
          restore-keys: |
            nx-build-cache-
      - name: Building all overlays
        run: pnpm run build
      - name: Saving build cache
        uses: actions/cache/save@v3
        with:
          path: node_modules/.cache/nx
          key: nx-build-cache-${{ github.sha }}
      - name: Zipping overlays
        run: cd dist && zip -r overlays.zip * && cd ..
      - name: Uploading artifact
        uses: actions/upload-artifact@v3
        with:
          name: overlays
          path: dist/overlays.zip
